.flex-container{
    padding:0.18rem;
}

.flex-container .title{
      color:#888;
      margin:0.20rem 0;
}
.flex-container .inline{
     width: 1.6rem !important;
     margin:0.18rem 0.18rem 0.18rem 0
}

.flex-container .small {
     height:0.4rem !important;
     line-height:0.4rem !important;
}
